*{
    margin: 0;
    padding: 0;
    background-color: #141414;
   
}
html,body{
    background-color: #141414;
    padding: 0% 5%;
    font-family: Kameron;
    height: 100%;
    width: 100%;
}
.navbar-custom {
    background-color: #141414;
    border-bottom: 1px white solid;
}
.navbar-custom .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 5px;
    line-height: 20px;
}
.navbar-custom .nav-link {
    color: white;
    margin-left: 35px;
    font-size: 16px;
    letter-spacing: 1.5px;
    position: relative;
    padding-bottom: 5px;
    transition: color 300ms;
}
.navbar-custom .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 300ms ease-in-out;
}
.navbar-custom .nav-link:hover {
    color: #cccccc;
}
.navbar-custom .nav-link:hover::after {
    width: 100%;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler-icon {
    background-image: url("assets/menu.png");
}
main {
    height: calc(80vh - 56px); /* Adjust height considering the navbar */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}
main h1 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 10vw;
    font-weight: 900;
    line-height: 0.7;
    color: rgba(45, 45, 45, 0.2);
    z-index: 0;
    position: absolute;
}

main h3{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-top: 10px;
}
#centerhead {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    color: white;
    z-index: 1;
    text-align: center;
    margin-top: 35px;
}
#centerhead h2 {
    color: white;
    font-size: 34px;
    font-weight: 900;
}
@keyframes upAndDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
.animate-img {
    animation: upAndDown 1s infinite;
}

main{
    margin-top: 20px;
}


img{
    height: 75px;
    width: 75px;
}

.beats{
    display: inline-flex;
    flex-direction: row;
    gap: 200px;

}

.container{
    display: inline-flex;
    flex-direction: column;
    gap: 80px;
}

.beat_text{
   float: right;
}

.download_icon, .play_button{
    height: 20px;
    width: 20px;
}
.download_icon{
    margin-left: 50px;
}

audio{
    display: none;
}

.transparent-button {
    display: flex;
    background-color: #141414; /* Transparent background */
    font-family: 'Darker Grotesque', sans-serif;;
    border: 2px solid #fff; /* White border */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding for the button */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    display: inline-block; /* Inline block for proper sizing */
    text-align: center; /* Center text */
    align-items: center;
    transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
}

.transparent-button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Slightly less transparent on hover */
    color: #000; /* Change text color on hover */
}
.button{
    margin-left: 450px;
}


.mini_container{
    display: flex;
    align-items: center;
    gap: 50px;
}

